
<div class="d-md-flex flex-md-equal">
  <div class="bmr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden col-6">
    <div class="my-3 p-3">
            <!-- Should go {{image}}-->

     <img style="height:85%;" src="{{dresses.picture}}"  class="img-fluid" alt="Responsive image">
    </div>
  </div>


  <div class="mr-md-3 pt-3 px-3 pt-md-5 px-md-5 overflow-hidden col-6">
    <div class="my-3 py-3">
            <!-- Should go an each for sizes {{name}}   {{description}}-->
<!-- sizes, prices, description -->
      <h2 class="display-5 text-left" >{{dresses.name}}</h2>
      <h6 class="display-5 text-left" >{{dresses.id}}</h6>
      <p class="lead">{{dresses.description}}</p>

  <div class="form-group" >
    <label for="exampleFormControlSelect1">Sizes</label>
    <select class="form-control custom-select " id="exampleFormControlSelect1">

      <!-- custom-select-sm Should go an each for sizes {{sizes}}-->
      <option>0</option>
      <option>2</option>
      <option>4</option>
      <option>6</option>
    </select>


 </div>


<!-- CALENDAR-->
  
  <div class="ui form">
    <div class="two fields">
      <div class="field">
        <label>Start date</label>
        <div class="ui calendar" id="rangestart">
          <div class="ui input left icon">
            <i class="calendar icon"></i>
            <input type="text" placeholder="Start">
          </div>
        </div>
      </div>
      <div class="field">
        <label>End date</label>
        <div class="ui calendar" id="rangeend">
          <div class="ui input left icon">
            <i class="calendar icon"></i>
            <input type="text" placeholder="End">
          </div>
        </div>
      </div>
    </div>
  </div>
<br>

<div>
<button type="button" class="btn btn-outline-secondary btn-lg btn-block " id="rentNow">Rent Now</button> 

  </div>

</div>



</div>



    </div>
  </div>
</div>

<script>
  $("#rentNow").click(function(){
    window.location.href = '/payment';
    return false;
  })
</script>